<! index.ejs Saqib Hasan Siddiqi / 301237796 / 5th febuary 2022 >
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>About Me</h1>
                    <p>My name is Saqib Hasan Siddiqi, a 21-year old Indian. I am currently living in United Arab Emirates and I aim to move Toronto soon. I was born in U.P, India but have lived my whole life in United Arab Emirates. I have a bachelors in
                        Information Technology and I am currently doing a post-Graduation diploma in game development. My intrest is in continuing my reserch in Game Development.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h2>Image</h2>
                    <a href="https://ibb.co/H2KmwTX"><img src="https://i.ibb.co/H2KmwTX/Photo.png" alt="Photo" border="0"></a>
                    <h2>Resume</h2>
                    <p>Here is my Resume in PDF Format <a href="https://pdfhost.io/v/TyMZ3Ricb_Saqib_Siddiqi"> Resume</a>.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>