<! index.ejs Saqib Hasan Siddiqi / 301237796 / 5th febuary 2022 >
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="Jumbotron">
            <h1>Contact Me</h1>
            <p>You can contact me via Email: shsiddiq521@gmail.com or Phone: +971562049988</p>
        </div>
        <div class="container">
            <form action="action_page.php">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>