<! index.ejs Saqib Hasan Siddiqi / 301237796 / 5th febuary 2022 >
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="Jumbotron">
            <h1>Saqib Hasan Siddiqi</h1>
            <p>Welcome to my Portfolio. Please navigate using the navbar</p>
            <h2>Mission Statement</h2>
            <p>Being a student of I.T. I aim to help create and research various new tools and methods to help improve the users behind the programming. I hope to find new tools to improve softwares and increase efficency. My field is focused on Game Development
                and I hope to pursue the field</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>