<! index.ejs Saqib Hasan Siddiqi / 301237796 / 5th febuary 2022 >
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="Jumbotron">
            <h1>Projects</h1>
            <p>Here I am going to present 2 projects that I presented to IEEE(<a href="https://en.wikipedia.org/wiki/Institute_of_Electrical_and_Electronics_Engineers">Institute of Electrical and Electronics Engineers</a>). These projects were a part of
                bachelors program.</p>
            <h2><a href="https://ieeexplore.ieee.org/document/9392159">Redefining Efficiency of TCAS for Improved Sight through Image Processing</a></h2>
            <p>This paper focuses on implementing and upgrading the TCAS (Traffic Collision Avoidance System) unit on aircraft by adding new input parameters to ensure better safety. It would help understand the air traffic and ground clearance. Sight is
                one of the tools useful that is present in a pilot's arsenal. It is highly important to make the right decisions quickly. Using the concept presented in this paper we can understand how sight can be improved to ensure safety. This helps
                the crew to work with the aircraft more easily during emergencies and reduce their burden as they try to keep the aircraft airborne. This also allows for ease of flight and increases the information received to an aircraft. This information
                can be used to help pilots rely on the TCAS in the case of an Altimeter, GPWS (Ground Proximity Warning System), and ND(Navigational Display) failure. It also would allow for better take-off and landing capabilities using image processing,
                where a pilot can land and take off without any interference to any air traffic and ground clearance. With the help of the Object Detection Method in Image Processing, we can evaluate the image taken and analyze the information that is
                received to evaluate the distance to the target and identify it as a risk and if any reaction needs to be taken. This will allow the pilot to take precautions or react to a situation in an accurate manner. This helps identify risks quicker
                and also ensure the resolutionary advisor gives few or no reversal. This will allow for better assistance to the pilots.
            </p>
            <p>I was the main lead and writter of the report. I design and explained the report in my Second Year of Bachelors.</p>
            <a href="https://ieeexplore.ieee.org/document/9392159"><img src="https://i.ibb.co/MVpjHBb/Image-1.png" alt="Image-1" border="0"></a>
            <a href="https://ieeexplore.ieee.org/document/9392159"><img src="https://i.ibb.co/VpvtGMc/Image-2.png" alt="Image-2" border="0"></a>
            <h2><a href="https://ieeexplore.ieee.org/document/9596185">Progressive Game Ai using Psychological profile</a></h2>
            <p>In this day and age of game development has evolved to a point of being a method where it is being used to improve the day-to-day lifestyle of the person playing the game(henceforth referred to as a ‘player’). With these advancements, this
                report wished to bring to light the Integration of AI in Game Development. AI has already been introduced in Game Development, ranging from Computer Generated Non-Player Characters(NPC), Randomly generated maps or level, or even the difficulty
                of the level. In Gaming, AI is based on responsive and adaptive video game experiences. Using NPC to power interactive experience to simulate a human Game-player. One of the new Frontier of development and the method games are Played,
                AI uses the behavior of the player to control the game experience. Games refer to data that is made systematic using algorithms and helps to develop games with human interaction. As a developer, the experience needs to be delivered and
                AI makes the process easier. AI needs to store information to be able to reference which can respond to various stimuli. The mass of information required is the reason why AI has not been adapted into the Industry. Using Voice Intelligence
                is changing the inputs of games, and assist to increase intelligence genre games. Creating frameworks using design acknowledgment and reinforcement realizing is an important part of the future of Game development. By making the AI intelligent
                makes the games more real. Since Players pay attention to details, developers can use AI to help develop the game. Within three decades of game development, we have been used the Psychological study of video games. It was found out that
                games use a motivation dependent system to influence player behavior. Using positive(happiness, comedy, victory) and negative(guilt, epistemic, reciprocity) reinforcement, it was found out the people were more responsive to negative reinforcement
                than positive. In this report, we will be focusing on the ways to identify the behavior of the player and then using the information to develop the game further. By creating a profile, we can arrange and suit various reinforcements. Using
                the 16 personality tests, we can identify and rate the player based on the factor of their Mind, Energy, Nature, Tactics, and Identity. This report focuses on instantiating a game where a player will be allowed to make multiple choices
                and progress through the levels created. Using these choices the programmed AI will use these outcomes through Integer value and then sorting it through using a pre-existing method. This method will then ensure that the information taken
                is analyzed and is the program is able to Manipulate the values given to it. This report will be using Unity Professional Edition to create a game and its C#(pronounced as ‘C sharp’) script capability. Using these, the report will be able
                to create an AI system and be able to give us a systemized report.[1] To associate the values to the Five Personality Aspect, an array and a compression method in a single script will be used. This script will be called whenever a player
                makes a choice and then a value is returned. That value is measured and placed into a final method, which evaluates the information received. Throughout the game, the Player will Face NPC’s that will adapt their style to conform towards
                a relaxed but challenging difficulty. This will be discussed in the Framework portion of this report. To begin the explanation this report will first start with the 16 personalities and their type. </p>
            <p>My role was to introduce the idea and present a valid report along with a prototype. The prototype I had created allowed the user to play through a game and allow the game to take data and print out the closest psychological profile</p>
            <a href="https://ieeexplore.ieee.org/document/9596185"><img src="https://i.ibb.co/3s4PftB/Image-3.png" alt="Image-3" border="0"></a>
            <a href="https://ieeexplore.ieee.org/document/9596185"><img src="https://i.ibb.co/6nc05Ry/image-4.png" alt="image-4" border="0"></a>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>