<! index.ejs Saqib Hasan Siddiqi / 301237796 / 5th febuary 2022 >
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="Jumbotron">
            <h1>Services</h1>
            <p>The different Services I provide revole around</p>
            <p>1. Research</p>
            <p>2. Programming</p>
            <p>3. Debugging</p>
            <p>4. Article/Report Writing</p>
            <p>5. Analyzing Data</p>
            <p>6. Interpreting Data</p>
            <p>I have been taught these skills during my 3 years of Bachelors Degree in Information Technology and currently I am pursuing Game Development in the main field so I prefer to continue in my career in the same field. Since I.T is a broad field,
                I am comfortable in partaking work in the related field which fit within my skillset.</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>