<! index.ejs Saqib Hasan Siddiqi / 301237796 / 5th febuary 2022 >
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="Jumbotron">
            <h1>Services</h1>
            <p>The different Services I provide revole around</p>
            <p>() Research</p>
            <p>() Programming</p>
            <p>() Debugging</p>
            <p>() Article/Report Writing</p>
            <p>() Analyzing Data</p>
            <p>() Interpreting Data</p>
            <p>I have been taught these skills during my 3 years of Bachelors and currently I am pursuing Game Development in the main field so I prefer to continue in my career in said field. However because of how broad the field of I.T. is, I am comfortable
                in partaking work in relate field with fit within my skillset.</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>